{
    "presets": [
        ["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }]
    ],
    "sourceMaps": true,
    "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
  